* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
 background-color: #223040;
}

h1 {
  text-align: center;
  color: #fff;
}

input[type=text], select, textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #FF3526;
  box-sizing: border-box;
  transition: 0.3s;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1em;
  background-color: #FF3526;
  color: #FFFF93;
  border-style: none;
  transition: 0.3s;
}

input[type=submit]:hover {
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.46);
  -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.46);
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.46);
  transition: 0.3s;
  transform: scale(1.1);
}

input[type=date], input[type=time] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #FF3526;
  box-sizing: border-box;
  transition: 0.3s;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  width:40%;
  margin: auto;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.46);
  -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.46);
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.46);
}

input:focus, textarea:focus, select:focus{
    outline: none;
    border-color: #79BDC6;
    transition: 0.3s;
}

textarea {
  resize:vertical;
}

#mais-detalhes::after {
  content: " (Campo não obrigatório)";
  font-size: 0.8em;
  color: #afafaf;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .container, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
