.tags-input-wrapper{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #FF3526;
  box-sizing: border-box;
  transition: 0.3s;

}
.tags-input-wrapper input{
    border: none;
    background: transparent;
    outline: none;
    width: 150px;
}
.tags-input-wrapper .tag{
    display: inline-block;
    background-color: #79BDC6;
    color: white;
    font-size: 0.8em;
    padding: 1.5%;
    margin-right: 5px;
    margin-bottom:7px;

}
.tags-input-wrapper .tag a {
    margin: 0 7px 3px;
    display: inline-block;
    cursor: pointer;
}
